:root {
  --cl-color-white: hsl(0, 0%, 100%);

  --cl-icon-size: 18px;

  --cl-color-info: hsl(205, 100%, 40%);
  --cl-color-warning: hsl(28, 100%, 45%);
  --cl-color-error: hsl(360, 100%, 45%);
  --cl-color-success: hsl(150, 86%, 30%);
}

.cl-icon, .cl-icon * {
  box-sizing: border-box;
}

.cl-icon {
  --icon-color: white;
  --icon-bg-color: #333;
  --icon-size: var(--cl-icon-size, 20px);
  background: var(--icon-bg-color);
  color: var(--icon-color);
  border-radius: 100%;
  height: var(--icon-size);
  width: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cl-icon svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.cl-icon-error {
  --icon-bg-color: var(--cl-color-error);
}

.cl-icon-warn {
  --icon-bg-color: var(--cl-color-warning);
}

.cl-icon-info {
  --icon-bg-color: var(--accent-color, var(--cl-color-info));
}

.cl-icon-success {
  --icon-bg-color: var(--cl-color-success);
}
