/**
 * Semantic tokens, copied from `@bpmn-io/theme` to style the components
 * according to this theme.
 *
 * Names and values of the tokens should stay intact with the `@bpmn-io/theme`
 * source of truth, to ensure matching styles and allow overrides with an
 * alternative theme.
 */
.bio-theme-parent {
  --bio-text-on-primary: hsl(0, 0%, 100%);
  --bio-surface-inverted: hsl(0, 0%, 22%);
  --bio-danger: hsl(360, 100%, 45%);
  --bio-warning: hsl(35, 84%, 62%);
  --bio-success: hsl(150, 86%, 44%);
  --bio-info: hsl(205, 100%, 40%);
}

.cl-icon, .cl-icon * {
  box-sizing: border-box;
}

.cl-icon {
  --cl-color-info: var(--bio-info);
  --cl-color-warning: var(--bio-warning);
  --cl-color-error: var(--bio-danger);
  --cl-color-success: var(--bio-success);

  --icon-color: var(--bio-text-on-primary);
  --icon-bg-color: var(--bio-surface-inverted);
  --icon-size: var(--cl-icon-size, 18px);

  background: var(--icon-bg-color);
  color: var(--icon-color);
  border-radius: 100%;
  height: var(--icon-size);
  width: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cl-icon svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.cl-icon-error {
  --icon-bg-color: var(--cl-color-error);
}

.cl-icon-warn {
  --icon-bg-color: var(--cl-color-warning);
}

.cl-icon-info {
  --icon-bg-color: var(--accent-color, var(--cl-color-info));
}

.cl-icon-success {
  --icon-bg-color: var(--cl-color-success);
}
