:root {
  --color-red-360-100-45: hsl(360, 100%, 45%);
  --color-white: hsl(0, 0%, 100%);

  --linting-annotation-background-color: var(--color-red-360-100-45);
  --linting-annotation-fill-color: var(--color-white);
}

.djs-overlays:not(.selected) .bjs-linting-annotation {
  opacity: 0.5;
}

.djs-overlays.selected .bjs-linting-annotation,
.djs-overlays .bjs-linting-annotation:hover {
  opacity: 1;
}

.bjs-linting-annotation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  border-radius: 2px;
  background-color: var(--linting-annotation-background-color);
  cursor: default;
  z-index: 100000;
}

.bjs-linting-annotation > svg {
  fill: var(--linting-annotation-fill-color);
  width: 18px;
  height: 18px;
}